.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.4);
  padding: 6px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 999;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn {
      color: #ffffff;
      padding: 7px 12px;
      border-radius: 10px;
      background: rgb(133, 103, 192);
    }
  }
}
